/* ==================================================
   HERO SCENE VARIABLES
================================================== */

:root{

    --scene-height:350vh;

    --hero-zone:50vh;

    --temple-zone:50vh;

    --temple-width:135vw;

}


/* ==================================================
   HERO SCENE
================================================== */

.heroScene{

    position:relative;

    width:100%;

    max-height:var(--scene-height);

    overflow:hidden;

    background:#0072F8;

}

/* ==================================================
   HERO
================================================== */

.hero{

    position:relative;

    width:100%;

    height:var(--hero-zone);

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

}

/* ==================================================
   COMMON SUN GLOW
================================================== */

.sunGlow{

    position:absolute;

    left:50%;

    top:20vh;

    transform:translate(-50%,-50%);

    width:1100px;

    height:1200px;

    background:radial-gradient(

        ellipse,

        rgba(255,245,170,.75) 0%,

        rgba(255,220,100,.32) 25%,

        rgba(255,220,100,.12) 52%,

        rgba(255,220,100,0) 100%

    );

    filter:blur(70px);

    pointer-events:none;

    z-index:1;

}


/* ==================================================
   HERO CONTENT
================================================== */

.heroContent{

    position:relative;

    z-index:8;

    text-align:center;

    color:white;

    width:100%;

    margin-top: 8px;

}


/* Subtitle */

.subtitle{

    font-size:clamp(11px,1.1vw,15px);

    letter-spacing:clamp(3px,.55vw,7px);

    margin-bottom:12px;

    font-weight:500;

}


/* Bride Groom */

.heroContent h1{

    font-size: clamp(52px, 5vw, 72px);

    font-weight:600;

    line-height:.82;

    text-shadow:

        0 0 12px rgba(255,255,255,.35),

        0 0 30px rgba(255,210,80,.20);

}


/* & */

.amp{

    color:#FFD166;

    font-size:clamp(32px,3vw,46px);

    line-height:1;

    margin: 0;

    text-shadow:

        0 0 10px rgba(255,209,102,.70),

        0 0 22px rgba(255,209,102,.35);


}


/* Date */

.date{

    margin-top:10px;

    font-size:clamp(18px,1.8vw,26px);

    letter-spacing:1px;

}

/* ==========================================
   CLOUDS
========================================== */

.cloud{

    position:absolute;

    pointer-events:none;

    user-select:none;

    z-index:7;

    opacity:.92;

    object-fit:contain;

    transition:.3s ease;

}

/* Left Cloud */

.cloudLeft{

    width:clamp(220px,28vw,520px);

    top:-4vh;

    left:-6vw;

}

/* Right Cloud */

.cloudRight{

    width:clamp(220px,28vw,520px);

    top:12vh;

    right:-6vw;

}