/* ==========================================================
        1516px
==========================================================*/

@media screen and (max-width:1516px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-6vw;

    }

    .cloudRight{

        right:-6vw;

    }

    .temple{

        bottom:70vh;

    }

    .templeCloud{

        width:27vw;

        right:-6.5%;

        top:2%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-20vh;

    }

    .blessingText{

        bottom:2.2%;

        font-size:clamp(1.35rem,1.95vw,2.3rem);

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:50%;

        height:87%;

    }

    .ganeshIcon{

        width:178px;

        margin-top:22px;

        margin-bottom:26px;

    }

    .ganeshMantra p{

        font-size:21px;

        line-height:1.75;

    }

    .mangalaVakya{

        font-size:27px;

        margin-bottom:32px;

    }

    .inviteHeading{

        font-size:51px;

        margin-bottom:28px;

    }

    .coupleNames{

        margin-bottom:46px;

    }

    .coupleNames h1{

        font-size:69px;

    }

    .coupleNames span{

        font-size:40px;

    }

    .inviteBlock{

        margin-bottom:40px;

    }

    .inviteBlock h3{

        font-size:29px;

    }

    .teluguHeading{

        font-size:27px;

    }

    .englishText{

        font-size:25px;

    }

    .teluguText{

        font-size:27px;

    }

    .englishMessage{

        font-size:25px;

    }

    .teluguMessage{

        font-size:27px;

    }

    .venueEnglish{

        font-size:27px;

    }

    .venueTelugu{

        font-size:27px;

    }

}


/* ==========================================================
        1436px
==========================================================*/

@media screen and (max-width:1436px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-6.5vw;

    }

    .cloudRight{

        right:-6.5vw;

    }

    .temple{

        bottom:90vh;

    }

    .templeCloud{

        width:28vw;

        right:-7%;

        top:2.5%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-40vh;

    }

    .blessingText{

        bottom:2.4%;

        font-size:clamp(1.30rem,1.90vw,2.20rem);

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:51%;

        height:88%;

    }

    .ganeshIcon{

        width:170px;

        margin-top:24px;

        margin-bottom:24px;

    }

    .ganeshMantra p{

        font-size:20px;

        line-height:1.7;

    }

    .mangalaVakya{

        font-size:26px;

        margin-bottom:30px;

    }

    .inviteHeading{

        font-size:48px;

        margin-bottom:26px;

    }

    .coupleNames{

        margin-bottom:42px;

    }

    .coupleNames h1{

        font-size:65px;

    }

    .coupleNames span{

        font-size:38px;

    }

    .inviteBlock{

        margin-bottom:36px;

    }

    .inviteBlock h3{

        font-size:27px;

    }

    .teluguHeading{

        font-size:26px;

    }

    .englishText{

        font-size:24px;

    }

    .teluguText{

        font-size:26px;

    }

    .englishMessage{

        font-size:24px;

    }

    .teluguMessage{

        font-size:26px;

    }

    .venueEnglish{

        font-size:26px;

    }

    .venueTelugu{

        font-size:26px;

    }

}

/* ==========================================================
        1336px
==========================================================*/

@media screen and (max-width:1336px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-7vw;

    }

    .cloudRight{

        right:-7vw;

    }

    .temple{

        bottom:105vh;

    }

    .templeCloud{

        width:29vw;

        right:-8%;

        top:3%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-60vh;

    }

    .blessingText{

        bottom:2.6%;

        font-size:clamp(1.25rem,1.85vw,2.05rem);

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:52%;

        height:89%;

    }

    .ganeshIcon{

        width:160px;

        margin-top:26px;

        margin-bottom:22px;

    }

    .ganeshMantra p{

        font-size:19px;

        line-height:1.7;

    }

    .mangalaVakya{

        font-size:24px;

        margin-bottom:28px;

    }

    .inviteHeading{

        font-size:45px;

        margin-bottom:24px;

    }

    .coupleNames{

        margin-bottom:38px;

    }

    .coupleNames h1{

        font-size:61px;

    }

    .coupleNames span{

        font-size:36px;

    }

    .inviteBlock{

        margin-bottom:32px;

    }

    .inviteBlock h3{

        font-size:25px;

    }

    .teluguHeading{

        font-size:24px;

    }

    .englishText{

        font-size:22px;

    }

    .teluguText{

        font-size:24px;

    }

    .englishMessage{

        font-size:22px;

    }

    .teluguMessage{

        font-size:24px;

        line-height:1.8;

    }

    .venueEnglish{

        font-size:24px;

    }

    .venueTelugu{

        font-size:24px;

    }

}


/* ==========================================================
        1236px
==========================================================*/

@media screen and (max-width:1236px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-7.5vw;

    }

    .cloudRight{

        right:-7.5vw;

    }

    .temple{

        bottom:125vh;

    }

    .templeCloud{

        width:30vw;

        right:-8.5%;

        top:4%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-80vh;

    }

    .blessingText{

        bottom:2.8%;

        font-size:clamp(1.18rem,1.8vw,1.95rem);

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:54%;

        height:90%;

    }

    .ganeshIcon{

        width:150px;

        margin-top:28px;

        margin-bottom:20px;

    }

    .ganeshMantra p{

        font-size:18px;

        line-height:1.65;

    }

    .mangalaVakya{

        font-size:22px;

        margin-bottom:26px;

    }

    .inviteHeading{

        font-size:42px;

        margin-bottom:22px;

    }

    .coupleNames{

        margin-bottom:34px;

    }

    .coupleNames h1{

        font-size:57px;

    }

    .coupleNames span{

        font-size:34px;

    }

    .inviteBlock{

        margin-bottom:28px;

    }

    .inviteBlock h3{

        font-size:23px;

    }

    .teluguHeading{

        font-size:22px;

    }

    .englishText{

        font-size:20px;

    }

    .teluguText{

        font-size:22px;

    }

    .englishMessage{

        font-size:20px;

    }

    .teluguMessage{

        font-size:22px;

        line-height:1.75;

    }

    .venueEnglish{

        font-size:22px;

    }

    .venueTelugu{

        font-size:22px;

    }

}

/* ==========================================================
        1136px
==========================================================*/

@media screen and (max-width:1136px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-8vw;

    }

    .cloudRight{

        right:-8vw;

    }

    .temple{

        bottom:140vh;

    }

    .templeCloud{

        width:30vw;

        right:-8%;

        top:6%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-90vh;

    }

    .blessingText{

        bottom:3%;

        font-size:clamp(1.1rem,1.7vw,1.8rem);

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:10%;

        width:56%;

        height:90%;

    }

    .ganeshIcon{

        width:140px;

        margin-top:28px;

        margin-bottom:18px;

    }

    .ganeshMantra p{

        font-size:17px;

        line-height:1.65;

    }

    .mangalaVakya{

        font-size:21px;

        margin-bottom:24px;

    }

    .inviteHeading{

        font-size:39px;

        margin-bottom:20px;

    }

    .coupleNames{

        margin-bottom:30px;

    }

    .coupleNames h1{

        font-size:53px;

    }

    .coupleNames span{

        font-size:32px;

    }

    .inviteBlock{

        margin-bottom:25px;

    }

    .inviteBlock h3{

        font-size:22px;

    }

    .teluguHeading{

        font-size:21px;

    }

    .englishText{

        font-size:19px;

    }

    .teluguText{

        font-size:21px;

    }

    .englishMessage{

        font-size:19px;

    }

    .teluguMessage{

        font-size:21px;

        line-height:1.7;

    }

    .venueEnglish{

        font-size:21px;

    }

    .venueTelugu{

        font-size:21px;

    }

}

/* ==========================================================
        1024px
        Tablet Landscape
==========================================================*/

@media screen and (max-width:1024px){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-9vw;

    }

    .cloudRight{

        right:-9vw;

    }

    .temple{

        bottom: 165vh;

    }

    .templeCloud{

        width:31vw;

        right:-8.5%;

        top:8%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-115vh;

    }

    .blessingText{

        bottom:3.5%;

        font-size:1.4rem;

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:60%;

        height:91%;

    }

    .ganeshIcon{

        width:126px;

    }

    .ganeshMantra p{

        font-size:15px;

        line-height:1.6;

    }

    .mangalaVakya{

        font-size:18px;

        margin-bottom:20px;

    }

    .inviteHeading{

        font-size:34px;

        margin-bottom:16px;

    }

    .coupleNames{

        margin-bottom:24px;

    }

    .coupleNames h1{

        font-size:45px;

    }

    .coupleNames span{

        font-size:28px;

    }

    .inviteBlock{

        margin-bottom:18px;

    }

    .inviteBlock h3{

        font-size:18px;

    }

    .teluguHeading{

        font-size:18px;

        margin-bottom:12px;

    }

    .englishText{

        font-size:16px;

    }

    .englishMessage{

        font-size:16px;

    }

    .teluguText{

        font-size:18px;

    }

    .teluguMessage{

        font-size:18px;

        line-height:1.6;

    }

    .venueEnglish{

        font-size:18px;

    }

    .venueTelugu{

        font-size:18px;

        line-height:1.6;

    }

}

/* ==========================================================
        900px
        TABLET LANDSCAPE
==========================================================*/

@media screen and (max-width:900px) and (orientation:landscape){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-10vw;

    }

    .cloudRight{

        right:-10vw;

    }

    .temple{

        bottom:185vh;

    }

    .templeCloud{

        width:31vw;

        top:14%;

        right:-8.5%;

    }

    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-135vh;

    }

    .blessingText{

        bottom:3.5%;

        font-size:1.35rem;

        padding:0 18px;

    }

    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:9.5%;

        width:62%;

        height:91%;

    }

    /* ================= GANESH ================= */

    .ganeshIcon{

        width:122px;

        margin-top:22px;

        margin-bottom:14px;

    }

    /* ================= MANTRA ================= */

    .ganeshMantra p{

        font-size:15px;

        line-height:1.4;

    }

    .mangalaVakya{

        font-size:18px;

        margin-bottom:18px;

    }

    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:30px;

        margin-bottom:14px;

    }

    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:22px;
        gap: 1px;

    }

    .coupleNames h1{

        font-size:43px;

    }

    .coupleNames span{

        font-size:25px;

    }

    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:16px;

    }

    .inviteBlock h3{

        font-size:18px;

        letter-spacing:2px;

    }

    .teluguHeading{

        font-size:18px;

        margin-bottom:10px;

    }

    /* ================= ENGLISH ================= */

    .englishText{

        font-size:16px;

    }

    .englishMessage{

        font-size:16px;

    }

    /* ================= TELUGU ================= */

    .teluguText{

        font-size:18px;

    }

    .teluguMessage{

        font-size:18px;

        line-height:1.55;

    }

    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:18px;

    }

    .venueTelugu{

        font-size:18px;

        line-height:1.55;

    }

}

/* ==========================================================
        900px
        TABLET PORTRAIT
==========================================================*/

@media screen and (max-width:900px) and (orientation:portrait){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-10vw;

    }

    .cloudRight{

        right:-10vw;

    }

    .temple{

        bottom:145vh;

    }

    .templeCloud{

        width:31vw;

        top:18%;

        right:-8.5%;

    }

    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-125vh;

    }

    .blessingText{

        bottom:3.5%;

        font-size:1.4rem;

        padding:0 18px;

    }

    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:11%;

        width:64%;

        height:91%;

    }

    /* ================= GANESH ================= */

    .ganeshIcon{

        width:118px;

        margin-top:24px;

        margin-bottom:16px;

    }

    /* ================= MANTRA ================= */

    .ganeshMantra p{

        font-size:14px;

        line-height:1.55;

    }

    .mangalaVakya{

        font-size:17px;

        margin-bottom:18px;

    }

    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:31px;

        margin-bottom:14px;

    }

    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:22px;

    }

    .coupleNames h1{

        font-size:41px;

    }

    .coupleNames span{

        font-size:26px;

    }

    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:16px;

    }

    .inviteBlock h3{

        font-size:17px;

        letter-spacing:2px;

    }

    .teluguHeading{

        font-size:17px;

        margin-bottom:10px;

    }

    /* ================= ENGLISH ================= */

    .englishText{

        font-size:15px;

    }

    .englishMessage{

        font-size:15px;

    }

    /* ================= TELUGU ================= */

    .teluguText{

        font-size:17px;

    }

    .teluguMessage{

        font-size:17px;

        line-height:1.55;

    }

    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:17px;

    }

    .venueTelugu{

        font-size:17px;

        line-height:1.55;

    }

}

/* ==========================================================
        768px
        TABLET LANDSCAPE
==========================================================*/

@media screen and (max-width:768px) and (orientation:landscape){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-11vw;

    }

    .cloudRight{

        right:-11vw;

    }

    .temple{

        bottom:145vh;

    }

    .templeCloud{

        width:32vw;

        top:16%;

        right:-9%;

    }

    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-120vh;

    }

    .blessingText{

        bottom:4%;

        font-size:1.2rem;

        padding:0 18px;

    }

    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:9%;

        width:68%;

        height:92%;

    }

    /* ================= GANESH ================= */

    .ganeshIcon{

        width:105px;

        margin-top:18px;

        margin-bottom:12px;

    }

    /* ================= MANTRA ================= */

    .ganeshMantra p{

        font-size:13px;

        line-height:1.5;

    }

    .mangalaVakya{

        font-size:16px;

        margin-bottom:14px;

    }

    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:28px;

        margin-bottom:12px;

    }

    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:18px;

    }

    .coupleNames h1{

        font-size:36px;

    }

    .coupleNames span{

        font-size:22px;

    }

    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:14px;

    }

    .inviteBlock h3{

        font-size:16px;

        letter-spacing:1px;

    }

    .teluguHeading{

        font-size:16px;

        margin-bottom:8px;

    }

    /* ================= ENGLISH ================= */

    .englishText{

        font-size:14px;

    }

    .englishMessage{

        font-size:14px;

    }

    /* ================= TELUGU ================= */

    .teluguText{

        font-size:16px;

    }

    .teluguMessage{

        font-size:16px;

        line-height:1.5;

    }

    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:16px;

    }

    .venueTelugu{

        font-size:16px;

        line-height:1.5;

    }

}

/* ==========================================================
        768px
        TABLET PORTRAIT
==========================================================*/

@media screen and (max-width:768px) and (orientation:portrait){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .cloudLeft{

        left:-11vw;

    }

    .cloudRight{

        right:-11vw;

    }

    .temple{

        bottom:210vh;

    }

    .templeCloud{

        width:32vw;

        top:10%;

        right:-9%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-165vh;

    }

    .blessingText{

        bottom:4%;

        font-size:1.2rem;

        padding:0 18px;

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:10%;

        width:70%;

        height:92%;

    }

    /* ================= GANESH ================= */

    .ganeshIcon{

        width:100px;

        margin-top:20px;

        margin-bottom:12px;

    }

    /* ================= GANESH MANTRA ================= */

    .ganeshMantra p{

        font-size:12px;

        line-height:1.45;

    }

    /* ================= MANGALA VAAKYAM ================= */

    .mangalaVakya{

        font-size:15px;

        margin-bottom:14px;

    }

    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:26px;

        margin-bottom:10px;

    }

    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:16px;

    }

    .coupleNames h1{

        font-size:33px;

    }

    .coupleNames span{

        font-size:20px;

    }

    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:12px;

    }

    .inviteBlock h3{

        font-size:15px;

        letter-spacing:1px;

    }

    .teluguHeading{

        font-size:15px;

        margin-bottom:7px;

    }

    /* ================= ENGLISH ================= */

    .englishText{

        font-size:13px;

    }

    .englishMessage{

        font-size:13px;

    }

    /* ================= TELUGU ================= */

    .teluguText{

        font-size:15px;

    }

    .teluguMessage{

        font-size:15px;

        line-height:1.45;

    }

    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:15px;

    }

    .venueTelugu{

        font-size:15px;

        line-height:1.45;

    }

}
/* ==========================================================
        675px
        LARGE MOBILE
==========================================================*/

@media screen and (max-width:675px) and (orientation:portrait){

    /* ==================================================
                    HERO SCENE
    ================================================== */
    
    
    .cloudLeft{

        left:-9vw;
        top: 5%;

    }

    .cloudRight{

        right:-10vw;

    }

    .temple{

        bottom:225vh;

    }

    .templeCloud{

        width:33vw;

        top:9.5%;

        right:-9.5%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-175vh;

    }

    .blessingText{

        bottom:4%;

        font-size:1.1rem;

        padding:0 16px;

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:10%;

        width:74%;

        height:92%;

    }

    /* ================= GANESH ================= */

    .ganeshIcon{

        width:92px;

        margin-top:18px;

        margin-bottom:10px;

    }

    /* ================= GANESH MANTRA ================= */

    .ganeshMantra p{

        display: none;

    }

    /* ================= MANGALA VAAKYAM ================= */

    .mangalaVakya{

        font-size:14px;

        margin-bottom:12px;

    }

    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:24px;

        margin-bottom:8px;

    }

    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:14px;

    }

    .coupleNames h1{

        font-size:30px;

    }

    .coupleNames span{

        font-size:18px;

    }

    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:10px;

    }

    .inviteBlock h3{

        font-size:14px;

        letter-spacing:1px;

    }

    .teluguHeading{

        font-size:14px;

        margin-bottom:6px;

    }

    /* ================= ENGLISH ================= */

    .englishText{

        font-size:12px;

    }

    .englishMessage{

        font-size:12px;

    }

    /* ================= TELUGU ================= */

    .teluguText{

        font-size:14px;

    }

    .teluguMessage{

        font-size:14px;

        line-height:1.4;

    }

    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:14px;

    }

    .venueTelugu{

        font-size:14px;

        line-height:1.4;

    }

}

/* ==========================================================
        576px
        MOBILE PORTRAIT
==========================================================*/

@media screen and (max-width:576px) and (orientation:portrait){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .heroScene{

        max-height: 300vh;

    }


    .cloudLeft{

        left:-13vw;
        top: 5%;

    }

    .cloudRight{

        right:-13vw;

    }

    .temple{

        bottom:245vh;

    }

    .templeCloud{

        width:34vw;

        top:5%;

        right:-10%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-145vh;

    }

    .blessingText{

        bottom:4%;

        font-size:1rem;

        padding:0 15px;

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitationContent{

        top:9%;

        width:82%;

        height:93%;

    }


    /* ================= GANESH ================= */

    .ganeshIcon{

        width:85px;

        margin-top:16px;

        margin-bottom:10px;

    }


    /* ================= GANESH MANTRA ================= */

    .ganeshMantra{

        display:none;

    }


    /* ================= MANGALA ================= */

    .mangalaVakya{

        font-size:13px;

        margin-bottom:10px;

    }


    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:22px;

        margin-bottom:8px;

    }


    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:12px;

    }

    .coupleNames h1{

        font-size:28px;

    }

    .coupleNames span{

        font-size:17px;

    }


    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:10px;

    }

    .inviteBlock h3{

        font-size:13px;

        letter-spacing:1px;

    }

    .teluguHeading{

        font-size:13px;

        margin-bottom:5px;

    }


    /* ================= ENGLISH ================= */

    .englishMessage{

        display:none;

    }

    .englishText{

        font-size:11px;

    }


    /* ================= TELUGU ================= */

    .teluguText{

        font-size:13px;

    }

    .teluguMessage{

        font-size:13px;

        line-height:1.4;

    }


    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:13px;

    }

    .venueTelugu{

        font-size:13px;

        line-height:1.4;

    }

}

/* ==========================================================
        500px
        MOBILE PORTRAIT
==========================================================*/

@media screen and (max-width:500px) and (orientation:portrait){

    /* ==================================================
                    HERO SCENE
    ================================================== */

    .heroScene{

        max-height: 300vh;

    }


    .cloudLeft{

        left:-14vw;
        top: 5%;

    }

    .cloudRight{

        right:-14vw;

    }

    .temple{

        bottom:255vh;

    }

    .templeCloud{

        width:35vw;

        top:5%;

        right:-11%;

    }


    /* ==================================================
                    BLESSINGS
    ================================================== */

    .blessings{

        margin-top:-155vh;

    }

    .blessingText{

        bottom:4%;

        font-size:.95rem;

        padding:0 14px;

    }


    /* ==================================================
                    INVITATION
    ================================================== */

    .invitation{
        margin-top: -5vh;
    }

    .invitationContent{

        top:8%;

        width:88%;

        height:93%;

    }


    /* ================= GANESH ================= */

    .ganeshIcon{

        width:75px;

        margin-top:14px;

        margin-bottom:8px;

    }


    /* ================= GANESH MANTRA ================= */

    .ganeshMantra{

        display:none;

    }


    /* ================= MANGALA ================= */

    .mangalaVakya{

        font-size:12px;

        margin-bottom:8px;

    }


    /* ================= INVITATION ================= */

    .inviteHeading{

        font-size:20px;

        margin-bottom:8px;

    }


    /* ================= COUPLE ================= */

    .coupleNames{

        margin-bottom:10px;

    }

    .coupleNames h1{

        font-size:25px;

    }

    .coupleNames span{

        font-size:16px;

    }


    /* ================= BLOCK ================= */

    .inviteBlock{

        margin-bottom:8px;

    }

    .inviteBlock h3{

        font-size:12px;

        letter-spacing:1px;

    }

    .teluguHeading{

        font-size:12px;

        margin-bottom:4px;

    }


    /* ================= ENGLISH ================= */

    .englishMessage{

        display:none;

    }

    .englishText{

        display:none;

    }


    /* ================= TELUGU ================= */

    .teluguText{

        font-size:12px;

    }

    .teluguMessage{

        font-size:12px;

        line-height:1.35;

    }


    /* ================= VENUE ================= */

    .venueEnglish{

        font-size:12px;

    }

    .venueTelugu{

        font-size:12px;

        line-height:1.35;

    }

}